@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --primary-color: #fdf7c3;
  --secondary-color: #ffdeb4;
  --tertiary-color: #ffb4b4;
  --accent-color: #b2a4ff;
  --box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --heading-font: "Playfair Display", serif;
  --paragraph-font: "Raleway", sans-serif;
  --lightest-color: #f3e4edff;
  --darkest-color: #27285eff;
  --light-pink: #f7dcdfff;
  --pink: #d193ccff;
  --blue: #7dbded;
  --purple: #686bcdff;
  --lighter-purple: #a187b7ff;
  --darker-purple: #555694ff;
}

body {
  text-align: center;
  font-family: var(--paragraph-font);
  background-color: var(--darkest-color);
  color: var(--lightest-color);
}

h1 {
  font-size: 4vw;
  font-family: var(--heading-font);
  font-weight: bold;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 2.5vw;
  opacity: 0.7;
  margin: 0;
}

h4 {
  text-shadow: 1px 1px 2px black;
}

h5 {
  font-family: var(--heading-font);
  font-size: 24px;
}

p {
  color: var(--darkest-color);
}

a {
  color: var(--pink);
  transition: all 200ms ease;
}
a:hover {
  color: var(--purple);
}

.about-link {
  background-color: var(--purple);
  color: var(--secondary-color);
}
.about-link:hover {
  color: var(--primary-color);
}

.about-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
}

.about-me-text {
  background-color: var(--lightest-color);
  margin: 25px;
  padding: 15px;
}

.logo {
  max-width: 60px;
}

.index-banner {
  position: relative;
}

.hero {
  margin-top: 5%;
  margin-left: 5%;
  position: absolute;
  text-align: left;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.moon-image {
  z-index: -1;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100vw;
  border-bottom: 1px solid var(--light-pink);
  /* filter: brightness(85%); */
  /* filter: contrast(95%); */
}

.link-square-row {
  margin: 20px 0;
}

.link-square a {
  display: block;
  color: var(--lightest-color);
  font-family: var(--heading-font);
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: 10px;
  transition: all 200ms ease;
}

.link-square a:visited {
  color: var(--lightest-color);
}

.link-square a:hover {
  color: var(--darkest-color);
  text-shadow: 1px 1px 2px var(--light-pink);
  transform: scale(1.1, 1.1);
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px 1px var(--light-pink);
  border: 1px solid var(--light-pink);
  font-weight: bold;
}

.check-out-my-stuff {
  font-weight: bold;
  font-size: 3vw;
  color: var(--lightest-color);
  text-shadow: 1px 1px 2px black;
}

.index-container-sections .row {
  margin: 0 auto;
}

.chibi-image {
  max-width: 20vw;
}

.about-banner {
  padding-top: 20px;
}

.project-container {
  margin: 0 auto;
  max-width: 80vw;
  border-radius: 10px;
}

.project-image {
  max-width: 40vw;
}

.card {
  padding: 0;
  border: none;
}

.contact-form {
  background-color: var(--lightest-color);
  color: var(--darkest-color);
}

.footer {
  /* border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: 10px; */
  /* max-width: 32vw; */
  margin: auto;
  margin-top: 10vw;
}

.socials a {
  text-shadow: 1px 1px 2px black;
  color: var(--purple);
  transition: all 200ms ease;
}

.socials a:hover {
  color: var(--pink);
}

.navbar-custom {
  background: rgb(39, 40, 94);
  background: linear-gradient(
    90deg,
    rgba(39, 40, 94, 1) 0%,
    rgba(85, 86, 148, 1) 75%
  );
  box-shadow: var(--box-shadow);
  border-bottom: 1px solid var(--darkest-color);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: var(--lightest-color);
}

.navbar-custom .dropdown-menu {
  background-color: var(--darkest-color);
  color: var(--lightest-color);
}

/* Media Queries */

@media (min-width: 300px) {
  .container-under-banner {
    margin-top: 10rem;
  }
  .link-square a {
    height: 10vh;
    padding-top: 2.5vh;
    max-width: 65vw;
    margin: 20px auto;
    font-size: 4.5vw;
  }
  .footer h4 {
    font-size: 6px;
  }
  .footer i {
    font-size: 12px;
  }
}

@media (min-width: 576px) {
  .container-under-banner {
    margin-top: 20rem;
  }
  .link-square a {
    height: 10vh;
    padding-top: 2vh;
    max-width: 65vw;
    margin: 20px auto;
    font-size: 4.5vw;
  }
}

@media (min-width: 768px) {
  .container-under-banner {
    margin-top: 21rem;
  }
  .link-square a {
    width: 15vw;
    height: 15vw;
    padding-top: 5vw;
    font-size: 3vw;
  }
  .footer h4 {
    font-size: 10px;
  }
  .footer i {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .container-under-banner {
    margin-top: 25rem;
  }
  .link-square a {
    width: 15vw;
    height: 15vw;
    padding-top: 5vw;
    font-size: 3vw;
  }
}

@media (min-width: 1200px) {
  .container-under-banner {
    margin-top: 30rem;
  }
  .link-square a {
    width: 15vw;
    height: 15vw;
    padding-top: 5vw;
    font-size: 3vw;
  }
}

@media (min-width: 1400px) {
  .container-under-banner {
    margin-top: 42rem;
  }
  .link-square a {
    width: 15vw;
    height: 15vw;
    padding-top: 5vw;
    font-size: 3vw;
  }
  .footer h4 {
    font-size: 16px;
  }
  .footer i {
    font-size: 16px;
  }
}

/* Background Animation starts here! */

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  /* background: #27285e; */
  background: var(--darkest-color);
  overflow: hidden;
  z-index: -2;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 10;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #d193cc;
  top: 24%;
  left: 74%;
  animation-duration: 190s;
  animation-delay: -64s;
  transform-origin: 15vw -12vh;
  box-shadow: 40vmin 0 5.439770164687013vmin currentColor;
}
.background span:nth-child(1) {
  color: #a187b7;
  top: 2%;
  left: 98%;
  animation-duration: 81s;
  animation-delay: -60s;
  transform-origin: 25vw 11vh;
  box-shadow: -40vmin 0 5.287637473166902vmin currentColor;
}
.background span:nth-child(2) {
  color: #7cbbec;
  top: 58%;
  left: 47%;
  animation-duration: 90s;
  animation-delay: -20s;
  transform-origin: 11vw -11vh;
  box-shadow: -40vmin 0 5.863699338682333vmin currentColor;
}
.background span:nth-child(3) {
  color: #d193cc;
  top: 65%;
  left: 70%;
  animation-duration: 107s;
  animation-delay: -35s;
  transform-origin: 6vw 1vh;
  box-shadow: -40vmin 0 5.0894798110835735vmin currentColor;
}
.background span:nth-child(4) {
  color: #d193cc;
  top: 20%;
  left: 20%;
  animation-duration: 161s;
  animation-delay: -398s;
  transform-origin: -3vw 24vh;
  box-shadow: -40vmin 0 5.1022164316414305vmin currentColor;
}
.background span:nth-child(5) {
  color: #f7dcdf;
  top: 37%;
  left: 50%;
  animation-duration: 363s;
  animation-delay: -341s;
  transform-origin: -23vw -4vh;
  box-shadow: -40vmin 0 5.838179554959048vmin currentColor;
}
.background span:nth-child(6) {
  color: #7cbbec;
  top: 94%;
  left: 19%;
  animation-duration: 212s;
  animation-delay: -340s;
  transform-origin: 1vw 19vh;
  box-shadow: 40vmin 0 5.589254731490501vmin currentColor;
}
.background span:nth-child(7) {
  color: #7cbbec;
  top: 45%;
  left: 77%;
  animation-duration: 30s;
  animation-delay: -339s;
  transform-origin: 7vw -4vh;
  box-shadow: -40vmin 0 5.091026291088405vmin currentColor;
}
.background span:nth-child(8) {
  color: #f7dcdf;
  top: 1%;
  left: 53%;
  animation-duration: 112s;
  animation-delay: -215s;
  transform-origin: 7vw 5vh;
  box-shadow: -40vmin 0 5.74049684172429vmin currentColor;
}
.background span:nth-child(9) {
  color: #7cbbec;
  top: 57%;
  left: 46%;
  animation-duration: 44s;
  animation-delay: -91s;
  transform-origin: 13vw 23vh;
  box-shadow: -40vmin 0 5.612016997558354vmin currentColor;
}
.background span:nth-child(10) {
  color: #f7dcdf;
  top: 100%;
  left: 43%;
  animation-duration: 238s;
  animation-delay: -307s;
  transform-origin: -20vw -11vh;
  box-shadow: -40vmin 0 5.322274929954105vmin currentColor;
}
.background span:nth-child(11) {
  color: #a187b7;
  top: 36%;
  left: 46%;
  animation-duration: 88s;
  animation-delay: -343s;
  transform-origin: 24vw -19vh;
  box-shadow: -40vmin 0 5.6356399397765085vmin currentColor;
}
.background span:nth-child(12) {
  color: #d193cc;
  top: 58%;
  left: 35%;
  animation-duration: 185s;
  animation-delay: -145s;
  transform-origin: 19vw 0vh;
  box-shadow: 40vmin 0 5.140607207087111vmin currentColor;
}
.background span:nth-child(13) {
  color: #7cbbec;
  top: 55%;
  left: 5%;
  animation-duration: 301s;
  animation-delay: -214s;
  transform-origin: 18vw 14vh;
  box-shadow: 40vmin 0 5.641628947876649vmin currentColor;
}
.background span:nth-child(14) {
  color: #a187b7;
  top: 41%;
  left: 72%;
  animation-duration: 285s;
  animation-delay: -362s;
  transform-origin: -22vw 18vh;
  box-shadow: -40vmin 0 5.255528042189222vmin currentColor;
}
.background span:nth-child(15) {
  color: #f7dcdf;
  top: 44%;
  left: 60%;
  animation-duration: 381s;
  animation-delay: -231s;
  transform-origin: 2vw 15vh;
  box-shadow: -40vmin 0 5.939395393423724vmin currentColor;
}
.background span:nth-child(16) {
  color: #d193cc;
  top: 5%;
  left: 90%;
  animation-duration: 216s;
  animation-delay: -106s;
  transform-origin: -3vw 18vh;
  box-shadow: -40vmin 0 5.272347092295348vmin currentColor;
}
.background span:nth-child(17) {
  color: #a187b7;
  top: 64%;
  left: 23%;
  animation-duration: 42s;
  animation-delay: -265s;
  transform-origin: -5vw 2vh;
  box-shadow: -40vmin 0 5.890656359154126vmin currentColor;
}
.background span:nth-child(18) {
  color: #7cbbec;
  top: 56%;
  left: 15%;
  animation-duration: 217s;
  animation-delay: -376s;
  transform-origin: -7vw -10vh;
  box-shadow: 40vmin 0 5.249600671009019vmin currentColor;
}
.background span:nth-child(19) {
  color: #7cbbec;
  top: 51%;
  left: 36%;
  animation-duration: 371s;
  animation-delay: -85s;
  transform-origin: 14vw 11vh;
  box-shadow: -40vmin 0 5.659879430206319vmin currentColor;
}
