@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --primary-color: #fdf7c3;
  --secondary-color: #ffdeb4;
  --tertiary-color: #ffb4b4;
  --accent-color: #b2a4ff;
  --box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --heading-font: "Playfair Display", serif;
  --paragraph-font: "Raleway", sans-serif;
  --spacer-height: 50px;
}

body {
  text-align: center;
  font-family: var(--paragraph-font);
}

h1 {
  font-size: 4vw;
  font-family: var(--heading-font);
  font-weight: bold;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 2.5vw;
  opacity: 0.7;
  margin: 0;
}

.navigation-links {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.navigation-links a {
  text-decoration: none;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--accent-color);
  box-shadow: var(--box-shadow);
}

a {
  color: var(--accent-color);
}

a:visited {
  color: black;
}

.about-link {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
.about-link:hover {
  color: var(--primary-color);
}

.about-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
}

.about-me-text {
  background-color: var(--primary-color);
  margin: 25px;
  padding: 15px;
}

.logo {
  max-width: 75px;
}

.index-banner {
  position: relative;
}

.hero {
  margin-top: 5%;
  margin-left: 5%;
  position: absolute;
  text-align: left;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.moon-image {
  z-index: -1;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100vw;
  /* filter: brightness(85%); */
  /* filter: contrast(95%); */
}

.index-container-sections .col {
  background-color: var(--tertiary-color);
  margin: 20px;
  font-family: var(--heading-font);
  font-size: 36px;
  max-width: 300px;
  max-height: 300px;
  padding-top: 115px;
}

.check-out-my-stuff {
  font-weight: 900;
  font-size: 3vw;
}

.col a {
  text-decoration: none;
}

.index-container-sections .row {
  margin: 0 auto;
}

.container-under-banner {
}

@media (min-width: 300px) {
  .container-under-banner {
    margin-top: 10rem;
  }
}

@media (min-width: 576px) {
  .container-under-banner {
    margin-top: 20rem;
  }
}

@media (min-width: 768px) {
  .container-under-banner {
    margin-top: 21rem;
  }
}

@media (min-width: 992px) {
  .container-under-banner {
    margin-top: 25rem;
  }
}

@media (min-width: 1200px) {
  .container-under-banner {
    margin-top: 30rem;
  }
}

@media (min-width: 1400px) {
  .container-under-banner {
    margin-top: 40rem;
  }
}
